
.headerButton{
  background-color: #F2F4F7;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-block: 0rem clamp(1rem , 5vw ,2rem);
    column-gap: 1.5rem;
    padding-block: 0rem 1rem;
}

.headerButton a{
    color: white;
    text-transform: lowercase;
    font-size: 1.4rem;
    font-weight: 500;
}
.headerButton button:has(p){
    text-transform: lowercase;
} 
.headerButton button:nth-child(2){
    background-color: red;
    font-size: 1.4rem;
    font-weight: 500;

}


@media (width < 500px) {
    .headerButton{
        column-gap: 1rem;
    }
    .headerButton button{
        padding: 0.8rem 1rem;
        font-weight: 400;
    margin-top: 1rem;
        font-size: 1rem;
    }
}
header.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-inline: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-block: 0rem;
    background-color: var( --bg );
    /* background: #ecf0f3; */
    /* box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px var(  --white); */
    height: 8rem;
    /* display: ; */
}

.logo a {
    font-size: 2.5rem;
    font-variant: small-caps;
    color: black;
}

.nav, .login_SignUp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.nav li{
    border-radius: 6rem;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.4rem 1rem;
}
.nav li:hover{
    background-color: #F1F1F1;
    
}
.nav ul li a {
    font-size: 1.5rem !important;
    text-transform: capitalize;
    margin-left: 0.7rem;
    font-weight: 500 !important;
    color: black;
}

.login_SignUp a {
    margin-right: 1rem;
    font-size: clamp(1.3rem, 3vw, 1.7rem);
    text-transform: capitalize;
    font-weight: 500;
}

.font {
    color: black;
    font-weight: 600;
    font-size: 1.7rem;
}

.hamburger {
    display: none;
}
.logout{
    background: none;
    border: none;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
}



.sticky-nav {
    position: sticky;
    top: 0;
    transition: 200ms linear;
    left: 0;
    right: 0;
    height: 10rem ;
    z-index: 1;
}
@media (width < 1060px) {
    header.header {
        border-radius: 0rem;
        margin-inline: 0;
        margin-block: 0;
        width: 100%;
        background-color: #FFFFFF;
    }

    .nav-open {
        -webkit-transform: translateX(200rem);
            -ms-transform: translateX(200rem);
                transform: translateX(200rem);
    }



    .nav {
        position: absolute;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
        transition: -webkit-transform 0.5s ease-in-out;
        -o-transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
        top: 0rem;
        /* margin-block: auto; */
        left: -200rem;
        height: 100dvh;
        max-width: 100vw;
        width: 100%;
        transition: 200ms ease-in-out;
        background-color: rgba(0, 0, 0, 0.664);
        /* box-shadow: 0px 1px 10px rgb(216, 209, 209); */
        bottom: 0rem;
        z-index: 1;
    }

    .nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 100%;
        width: 100%;
        gap: 5rem;
        justify-content: start;
        padding-top: 12rem;
    }
    .nav li:hover{
        background-color: rgba(0, 0, 0, 0.275);
        
    }
    .nav ul li a {
        font-size: 1.4rem;
        font-weight: 600;
        color: var(  --white);
    }
  
    .font {
        color: var(  --white);
    }
    .hamburger {
        display: block;
        position: relative;
        z-index: 1;
        left: 1rem;
        color: black;
        font-size: clamp(1.6rem, 5vw, 3rem);
    }
    .ahmad{
        position: absolute;
        color: var(  --white);
        top: 6rem;
        right: 1.5rem;
    }

}
@media (width< 500px) {
  
    .userText span{
        font-weight: 400;
        font-size: 1rem;
    }
    .userText p{
        font-size: 1rem;
    }
    .login_SignUp{
        position: relative;
        left: 1rem;
    }
    .hamburger{
        position: relative;
        left: -1.5rem;
        top: -2rem;
    }
    .logout , .UserDetails {
        font-size: 1rem;
        font-weight: 400;
        margin-left:0rem;
    }
.login_SignUp a {
    margin-right: 0.3rem;
    font-weight: 400;
}
}
@media (width < 345px) {
    
.logo a {
    font-size: 1.7rem;
}

}